* {
    background-color: bisque;
    padding: 1%;
    margin-left: 8%;
    margin-right: 8%;
}

label {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

input {
    margin-left: 29%;
    margin-right: 29%;
}

button {
    margin-left: 45%;
    margin-right: 45%;
}

ul li {
    text-align: center;
    list-style-type: none;
}